<div class="container">
<h2 class="text-center text-uppercase">Today's Visitor  </h2>
<div *ngIf="visitorName" class="alert alert-success alert-dismissible fade show" role="alert">
    New Visitor <strong>{{visitorName}}</strong> is successfully Added.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div  *ngIf="!hideAddVisitor"  class="p-d-flex">           
    <button type="button" routerLink="/add" class="btn-block btn-dark btn-outline text-right">Add Visitor</button>
  </div>
<div class="table-responsive">
  <table class="table table-responsive table-borderless" id="datatableexample">
      <thead>
          <tr class="bg-light text-center">
              <th scope="col" width="5%">No#</th>
              <th scope="col" width="20%">Visitor Name</th>
              <th scope="col" width="10%">Mobile Number</th>
              <th scope="col" width="20%">Flat No</th>     
              <th scope="col" width="20%">In Time</th>       
              <th scope="col" width="20%">Out</th>     
          </tr>
      </thead>
      <tbody > <!--how to do indexing ;) or may use index as indexOfelement; --> 
          <tr  *ngFor="let item of items;let indexOfelement=index" class="text-center">               
              <td [ngClass]="{'colortd':!item.timeOut}">{{indexOfelement+1}}</td>
              <td [ngClass]="{'colortd':!item.timeOut}"><strong>{{item.name}}</strong></td>
              <td [ngClass]="{'colortd':!item.timeOut}"><i class="fa fa-check-circle-o green"></i><span class="ms-1">{{item.mobile}}</span></td>
              <td [ngClass]="{'colortd':!item.timeOut}"><span class="fw-bolder">{{item.premise}}</span> <i class="fa fa-ellipsis-h ms-2"></i></td>
              <td [ngClass]="{'colortd':!item.timeOut}">
                  <span class="fw-bolder">{{toDate(item.timeIn) | date: 'dd-MMM-yyyy hh:mm:ss'}}</span> 
                  <i class="fa fa-ellipsis-h ms-2"></i>
                  <button *ngIf="!item.timeOut" (click)="onDelete(item.id)" class="btn btn-link"> Delete </button>
                </td>                    
              <td [ngClass]="{'colortd':!item.timeOut}">
                <ng-container
                     *ngIf="item.timeOut; then showOutTime; else showOut">
                </ng-container>             
                    <ng-template #showOut>
                        <span class="fw-bolder">                    
                            <button type="button" (click)="getOut(item.id)" class="btn btn-primary">Out</button></span> <i class="fa fa-ellipsis-h ms-2"></i>                         
                    </ng-template>
                    <ng-template #showOutTime>
                        <span class="fw-bolder">{{toDate(item.timeOut) | date: 'dd-MMM-yyyy hh:mm:ss'}}</span> <i class="fa fa-ellipsis-h ms-2"></i>
                    </ng-template>  
                </td>           
          </tr>
      </tbody>
  </table>
</div>

</div>
