<div class="login-container">
    <div class="row">   
        
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header align-center">
                <h3>Visitor Register</h3>
            </div>
            <div class="card-body">   
     <form [formGroup]="visitorForm" (ngSubmit)="onSubmit()">
       <div class="mb-3">
         <label class="form-label" for="inputMobileNo">Mobile Number</label>
         <input (keypress)="keyPressNumbers($event)" type="mobile" class="form-control" id="mobile" formControlName="mobile" placeholder="Mobile Number">
         <span class="text-danger"
         *ngIf="(visitorFormControl.mobile.touched || submitted) && visitorFormControl.mobile.errors?.required">
         Mobile Number is required
        </span>
         <span class="text-danger"
         *ngIf="(visitorFormControl.mobile.touched || submitted) && visitorFormControl.mobile.errors?.pattern">
         Mobile Number is not valid, Enter 10 digits
        </span>
       </div>
       <div class="mb-3">
             <label class="form-label" for="inputName">Full Name</label>
             <input type="name" class="form-control" id="name" formControlName="name" placeholder="Name">
             <span class="text-danger"
             *ngIf="(visitorFormControl.name.touched || submitted) && visitorFormControl.name.errors?.required">
             Name is required
         </span>
       </div>
        
       <div class="mb-3">
             <label class="form-label" for="inputEmail">Flat No</label>
             <input type="premise" class="form-control" id="premise" formControlName="premise"  placeholder="Flat">
             <span class="text-danger"
             *ngIf="(visitorFormControl.premise.touched || submitted) && visitorFormControl.premise.errors?.required">
             Flat Number is required
         </span>
       </div>
       <div  class="flexbuttons">
        <button  type="submit" class="btn btn-primary">Register</button>       
        <button  type="button" (click)="onReset()" class="btn btn-primary">Reset</button>
       </div>     
     </form>
    </div>
   </div>
   </div>
        <app-search-table></app-search-table>
    </div>
</div>

  