<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a routerLink="/" routerLinkActive="active" class="navbar-brand">YoVisitor</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">                
              	<a href="#" class="nav-item nav-link" routerLink="/contactus" routerLinkActive="active">Contact</a>
            </div>
            <div *ngIf="!isLoggedIn" class="navbar-nav ms-auto">                  
               <!-- <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a> -->      
               <!-- <a class="nav-item nav-link" routerLink="/register" routerLinkActive="active">Register</a>-->                                  
            </div>
                <div *ngIf="isLoggedIn" class="navbar-nav ms-auto">               
                <a class="nav-item nav-link" routerLink="/visitors" routerLinkActive="active">Visitors</a>   
                 <a class="nav-item nav-link" (click)="logout()">Logout</a>     	                              
                </div>
        </div>
    </div>
</nav>
